greenlet==3.0.3
psycopg2==2.9.9
SQLAlchemy==2.0.29
pydantic== 2.5.3
pydantic_core==2.14.6
fastapi==0.103.0
uvicorn==0.20.0
gtts~=2.5.1
moviepy~=1.0.3
httpx~=0.27.0
openai~=1.26.0
passlib~=1.7.4
aioftp~=0.22.3
pytest~=7.4.0
starlette~=0.27.0
alembic~=1.13.1