<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content View</title>
</head>

<body>
<h2>Script</h2>
{% if script_data %}
    <div>
        <p>{{ script_data.content_1 }} {{ script_data.content_2 }} {{ script_data.content_3 }}</p>

    </div>
{% else %}
    <p>No script available.</p>
{% endif %}

<h2>Case Script</h2>
{% if case_script_data %}
    <div>
        <p>{{ case_script_data.content_1 }}</p>
        <p>{{ case_script_data.content_2 }}</p>
        <p>{{ case_script_data.content_3 }}</p>
        <p>{{ case_script_data.content_4 }}</p>
        <p>{{ case_script_data.content_5 }}</p>
        <p>{{ case_script_data.content_6 }}</p>
    </div>
{% else %}
    <p>No case script available.</p>
{% endif %}

<h2>Problems</h2>
{% if problem_data %}
    <div>
        <p>{{ problem_data.question }}</p>
        <p>{{ problem_data.option_1 }}</p>
        <p>{{ problem_data.option_2 }}</p>
        <p>{{ problem_data.option_3 }}</p>
        <p>{{ problem_data.option_4 }}</p>
        <p>{{ problem_data.answer_option }}</p>
        <p>{{ problem_data.plus_point }}</p>
        <p>{{ problem_data.minus_point }}</p>

    </div>
{% else %}
    <p>No problems available.</p>
{% endif %}

<h2>Comments</h2>
{% if comment_data %}
    <div>
        <p>{{ comment_data.comment_1 }}</p>
        <p>{{ comment_data.comment_2 }}</p>
        <p>{{ comment_data.comment_3 }}</p>
        <p>{{ comment_data.comment_4 }}</p>
    </div>
{% else %}
    <p>No comments available.</p>
{% endif %}

<h2>Video</h2>
{% if video_url %}
<div id="video-container">
    <video controls width="360" height="640">
        <source src="{{ video_url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
{% else %}
    <p>영상을 불러오지 못했습니다.</p>
{% endif %}

</body>
</html>